@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

 * {
     box-sizing: border-box;
     margin: 0;
 }

 body {
     font-family: 'Roboto', sans-serif;
     background-image: url('bg.png');
     background-size: cover;
     background-position: center center;
     display: flex;
     margin: 0 0 0 2rem;
 }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
    min-height: 100vh;
}

main p {
    width: 700px;
    font-size: 1.7rem;
    text-align: center;
}

main h1 {
    background-color: #fff;
    color: #000;
    padding: 2rem 12rem;
    font-weight: 300;
}

main .active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 200px;
}

main .active h3 {
    background: #556272;
    color: #fff;
    min-width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}

aside h2 {
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
    position: relative;
}

aside h2::before{
    content: '';
    display: block;
    background-color: #fff;
    height: 1px;
    width: 2rem;
    position: absolute;
    top: 50%;
    left: -70%;
}

aside h2::after{
    content: '';
    display: block;
    background-color: #fff;
    height: 1px;
    width: 2rem;
    position: absolute;
    top: 50%;
    right: -70%;
}

aside ul {
    list-style: none;
    color: #fff;
}

aside ul li {
    padding: .2rem 0;
    font-size: 2rem;
    font-weight: 300;
}

aside ul li::before {
    width: 1em;
    display: inline-block;
    content: "\2022";
    color: #fff;
}

aside .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    
    height: 100px;   
}

aside .contact a {
    color: #fff;
    text-decoration: none;
}

aside .contact i {
    padding: 0 1rem;
    font-size: 1.7rem;
}

@media screen and (max-width: 1200px) {
    main {
        width: 70vw;
    }

    aside {
        width: 30vw;    
    }
}

@media screen and (max-width: 1068px){
    body {
        flex-direction: column;
        margin: 0;
    }

    main,
    aside {
        width: 100%;
    }

    main {
        padding: 2rem;
    }

    main .active {
        padding: 1rem;
    }

    main p {
        padding: 0 0 1rem 0;
    }

    aside h2 {
        padding: 1rem 0;
    }
}

